
<div class="row border border-dark">
	<div style="width:5%"></div>

	<div style="width: 26.6%;" align="center" class="border border-dark">
		<h4>Name</h4>
		<a href="search/gaming"><img src="../../../../../../assets/empty-profile-icon.webp"></a>
	</div>

	<div style="width:5%"></div>

	<div style="width: 26.6%;" align="center" class="border border-dark">
		<h4>Name</h4>
		<a href="search/plants"><img src="../../../../../../assets/empty-profile-icon.webp"></a>
	</div>

	<div style="width:5%"></div>

	<div style="width: 26.6%;" align="center" class="border border-dark" >
		<h4>Name</h4>
		<a href="search/sports"><img src="../../../../../../assets/empty-profile-icon.webp"></a>
	</div>

	<div style="width:5%"></div>
</div>

<div></div>

<div class="row border border-dark">
	<div style="width:5%"></div>

	<div style="width: 26.6%;" align="center" class="border border-dark">
		<h4>Name</h4>
		<a href="search/gaming"><img src="../../../../../../assets/empty-profile-icon.webp"></a>
	</div>

	<div style="width:5%"></div>

	<div style="width: 26.6%;" align="center" class="border border-dark">
		<h4>Name</h4>
		<a href="search/plants"><img src="../../../../../../assets/empty-profile-icon.webp"></a>
	</div>

	<div style="width:5%"></div>

	<div style="width: 26.6%;" align="center" class="border border-dark" >
		<h4>Name</h4>
		<a href="search/sports"><img src="../../../../../../assets/empty-profile-icon.webp"></a>
	</div>

	<div style="width:5%"></div>
</div>

<div></div>

<div class="row border border-dark">
	<div style="width:5%"></div>

	<div style="width: 26.6%;" align="center" class="border border-dark">
		<h4>Name</h4>
		<a href="search/gaming"><img src="../../../../../../assets/empty-profile-icon.webp"></a>
	</div>

	<div style="width:5%"></div>

	<div style="width: 26.6%;" align="center" class="border border-dark">
		<h4>Name</h4>
		<a href="search/plants"><img src="../../../../../../assets/empty-profile-icon.webp"></a>
	</div>

	<div style="width:5%"></div>

	<div style="width: 26.6%;" align="center" class="border border-dark" >
		<h4>Name</h4>
		<a href="search/sports"><img src="../../../../../../assets/empty-profile-icon.webp"></a>
	</div>

	<div style="width:5%"></div>
</div>