  footer {
    color: white;
    background-color: #1976d2;
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
    margin-left: 10%;
    margin-right: 10%;
  }




  footer a {
    display: flex;
    align-items: center;
  }